@tailwind base;
@tailwind components;
@tailwind utilities;

.whiteover {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    bottom: 0;
    z-index: 1;
    background-image: url(./img/white-overlay.svg);
    background-repeat: no-repeat;
}
